.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      .texts {
        display: flex;
        flex-direction: column;

        span {
          font-weight: bold;
          font-size: 18px;
          font-weight: 500;
        }

        p {
          color: gray;
          margin-top: 3px;
          font-size: 14px;
        }
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .icons {
      display: flex;
      gap: 20px;
      img {
        width: 20px;
        cursor: pointer;
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    scrollbar-color: rgb(17, 25, 40) rgba(70, 97, 147, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: #5183fe;
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: rgba(17, 25, 40, 0.3);
          border-radius: 10px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid #dddddd35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 20px;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
      font-size: 18px;
      background-color: rgba(17, 25, 40, 0.5);
      border-radius: 10px;
      padding: 15px 10px;
      font-size: 20px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }

    .emoji {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .sendButton {
      background-color: #5183fe;
      color: white;
      padding: 10px 25px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      border: none;

      &:hover {
        background-color: #529dff;
        transition: ease-in-out;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
    .preview {
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }

    .preview img {
      width: 100px;
      height: 50px;
      object-fit: cover;
    }

    .preview button {
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
